LLM_API_KEY="YOUR_API_KEY_HERE"
GPT_4O="YOUR_GPT_4O_MODEL_NAME_HERE"
GPT_5_MINI="YOUR_GPT_5_MINI_MODEL_NAME_HERE"
GPT_4_1_MINI="YOUR_GPT_4_1_MINI_MODEL_NAME_HERE"
CLAUDE_3_5_HAIKU="YOUR_CLAUDE_3_5_HAIKU_MODEL_NAME_HERE"
EMBEDDING_MODEL_NAME="YOUR_EMBEDDING_MODEL_NAME_HERE"
LLM_BASE_URL="https://your-llm-base-url.com"
